.slide img{
    width: 100%;
    height: 1000px;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 20px;
}
.next {
    right: 0;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}